.details_Container {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    padding: 3em 1em;
    justify-content: space-around;
}

.picture_container, .blurb_container {
    width: 40vw;
}

.picture_container img {
    height: 80vh;
    width: 40vw;
}

.blurb_container p {
    font-size: 1.5vw;
}

.about_hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon_container {
    display: flex;
    margin-top: .5em;
    padding-bottom: 2em;
}

.icon_container a {
    margin-right: 0.2em;
}

.about_third_page{
    justify-content: center;
}

.about_third_page.page img {
    width: 50vw;
}

@media (max-width: 600px){
    .details_Container{
        flex-direction: column;
        align-items: center;
    }
    .picture_container img{
        width: 100%;
        height: 44vh;
    }
    .picture_container, .blurb_container {
        width: 80vw;
    }
    .blurb_container {
        margin-top: 2em;
    }
    .blurb_container p{
        font-size: 3.5vw;
    }
    .page{
        margin-bottom: 55vh;
    }
    .about {
        height: 265vh;
    }
}



