/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap'); */
:root{
	--fontSize : 2vw;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 2vw;
}

li{
    list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}

.wrapper {
	min-height: 100vh;
}

.formContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
    justify-content: flex-end;
}

.formContainer input {
    font-size: 14pt;
    padding: 24px;
    border: none;
    margin: 12px;
    border-radius: 4px;
    transition: .3s ease;
    color: #333354;
}

.formContainer textarea {
    margin: 8px;
    width: 100%;
    font-size: 14pt;
    padding: 24px;
    border: none;
    margin: 12px;
    border-radius: 4px;
    transition: .3s ease;
    resize: none;
    height: 250px;
    font-family: 'Lato';
    color: #333354;
}

#name_input , 
#email_input {
    flex-grow: 1;
}

.art_by_anc_default_btn{
    padding: 1em 2em;
    background: #000;
    color: #fff;
    font-size: 1.5vw;
}

.loading_eye {
    background: #000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.eye {
    opacity: 0;
}


@media ( max-width: 600px ) {
	*{
		font-size: 3vw;
	}
	:root{
		--fontSize: 3vw;
	}
    /* input[type="text"], 
    input[type="password"], 
    input[type="email"] , 
    input[type="tel"] ,
    select,
    textarea{
        padding: .5em 4em .5em .4em;
	}
	textarea   {
        padding-right: 3.9em;
    } */

}