.contact_btn_container{
    width: 100vw;
    padding: 1em;
    display: flex;
}

.main_container {
    padding: 4em 0em;
    padding-bottom: 0em;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact_container_sm:first-child {
    text-align: center;
}

.contact_container_sm p{
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.contact_container_sm span{
    font-weight: 300;
    text-decoration: underline;
    text-transform: none;
}

.contact_container_sm p, 
.contact_container_sm span,
.contact_container_sm h4 ,
label{
    font-size: 1.3vw;
}

.contact_container_sm:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name_input, 
.email_input,
.message_input{
    display: flex;
    width: 30vw;
    padding-bottom: 1em;
    flex-direction: column;
}


.contact_container_sm span {
    color: #72CFF1;
}

#message{
    height: 20vh;
}

.contact_btn{
    margin-top: 1em;
    font-size: 1.3vw;
}

@media (max-width: 600px){
    .contact {
        height: 190vh;
    }
    .main_container {
        height: 70vh;
        padding-bottom: 2em;
    }
    .name_input, .email_input, .message_input{
        width: 60vw;
    }
    .contact_container_sm p, 
    .contact_container_sm span, 
    .contact_container_sm h4, 
    label {
        font-size: 2.3vw;
    }
    .formContainer input , 
    .formContainer textarea{
        font-size: 3.5vw;
    }
}

