
.main_top_container {
	display: flex;
	width: 100vw;
	height: 100vh;
	perspective: 1500px;
	overflow: hidden;
	perspective-origin: 0% 50%;
}

.main_top_container_sm:first-child {
	background: #000;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transform: translate3d(0%, 0, 0) rotateY(-90deg);
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	display: none;
}

.nav_links_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 30vh;
}

.nav_links_container a {
	font-weight: 400;
	padding: .5em 1em;
    text-transform: uppercase;
    color: #fff;
}
.main_top_container_sm:nth-child(2) img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.hamburger_btn {
	padding: 1em;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 12vh;
	position: absolute;
	top: 5vh;
	left: 2vw;
	cursor: pointer;
}

.bar {
	width: 3vw;
	background: #fff;
	height: 1vh;
}

.bar1.change {
	transform: rotate(-45deg) translate(-9px, 6px);
	transition: all .3s;
}

.bar2.change {
	opacity: 0;
	transition: all .3s;
}

.bar3.change {
	transform: rotate(45deg) translate(-9px, -8px);
	transition: all .3s;
}

.arrow_pulsing {
	position: absolute;
	top: 84vh;
	left: 47vw;
	width: 5vw;
	height: 3vh;
	font-size: 6vw;
}

#middle_section_main_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle_section_main_container_sm {
	padding: 2em 2em;
	/* height: 80vh; */
	width: 98vw;
	display: flex;
	justify-content: space-around;
}

.card {
	width: 22vw;
	height: 60vh;
	position: relative;
}

.back,
.front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.back h2 {
	margin-bottom: 1em;
}

.front {
	background: #026aad;
}

.front img {
	width: 100%;
	height: 100%;
}

.back {
	transform: rotateY(90deg);
}

.card:hover .front {
	animation: twirl 0.2s ease-in forwards;
}

.card:hover .back {
	animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

.card:first-child .back {
	background: #72cff1;
}

.card:nth-child(2) .front {
	background: unset;
}

.card:nth-child(2) .back {
	background: linear-gradient(180deg, #a8815e 0%, rgba(168, 129, 94, 0.94) 100%);
}

.card:nth-child(3) .front {
	background: unset;
}

.card:nth-child(3) .back {
	background: linear-gradient(
		179.94deg,
		#c09f4e 10.45%,
		#78b8a3 25.02%,
		rgba(204, 172, 109, 0.987692) 40.63%,
		rgba(198, 146, 110, 0.983192) 51.56%,
		rgba(178, 124, 108, 0.979292) 65.09%,
		rgba(192, 159, 78, 0.9) 77.58%,
		rgba(185, 129, 186, 0.968492) 83.31%,
		rgba(129, 66, 59, 0.833226) 93.2%,
		rgba(107, 33, 52, 0.81) 99.96%
	);
}

.card:last-child .back {
	background: linear-gradient(
		179.94deg,
		#c09f4e 22.94%,
		#000000 68.22%,
		rgba(185, 129, 186, 0.968492) 99.95%,
		rgba(107, 33, 52, 0.81) 99.96%
	);
}

/* Media Queries */
@media (max-width: 600px) {
    .main_top_container {
        height: 37vh;
	}
	.main_top_container_sm:first-child {
		/* height:37vh; */
		justify-content: unset;
	}
	.main_top_container_sm:first-child img{
		height:17vh;
	}
	.main_top_container_sm:nth-child(2) img {
        height: 37vh;
    }
    .hamburger_btn{
        height: 6vh;
		top: 1vh;
	}
	.hamburger_btn.change{
		left: 25vw;
    }
    .bar {
        width: 7vw;
        height: 0.5vh;
    }
    .bar1.change{
        transform: rotate(-45deg) translate(0px, 5px);
	}
	.bar3.change {
		transform: rotate(45deg) translate(-9px, 4px);
	}
    .nav_links_container{
		height: 13vh;
        margin-bottom: 7vh;
	}
	.arrow_pulsing {
		top: 26vh;
		left: 45vw;
		width: 9vw;
		height: 3vh;
		font-size: 12vw;
	}
	#middle_section_main_container {
		height: 51vh;
		margin-top: 7em;
	}

	.middle_section_main_container_sm {
		flex-wrap: wrap;
		height: 64vh;
	}
	.card {
		width: 32vw;
		height: 21vh;
		position: relative;
	}
	.bottom_section_main_container {
		height: 80vh;
	}
}

/* Keyframes */
@keyframes twirl {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
