.main_collection_container {
    padding: 1em 4em;
    text-align: center;
}
.main_collection_container h2 {
    margin: 1em;
    font-size: 3vw;
}

.main_collection_container_m {
    margin: 2em 0em;
    display: flex;
    justify-content: space-around;
}

.main_collection_container_sm img {
    width: 18vw;
    height: 51vh;
}

.detailsContainer {
    height: 19vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.popup_code_modal {
    display:none;
    /* padding: 4em 0em; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup_code_modal_content{
    width: 60vw;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #72CFF1;
}

.close_btn{
    position: absolute;
    padding: 1em;
    background: #000;
    color: #fff;
    top: 1vh;
    right: 6vh;
}

.code_reveal {
        position: relative;
        margin: 1em;
        padding: 1em 4em;
        background: #000;
        color: #fff;
}

.collection_container {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
}


@media (max-width: 600px){
    .main_collection_container_m {
        flex-direction: column;
    }
    .main_collection_container_sm img {
        width: 49vw;
    }
    .detailsContainer {
        height: 10vh;
        width: 70vw;
        align-items: center;
    }
    .popup_code_modal_content{
        height: 30vh;
        width: 83vw;
        margin: 30vh auto;
    }
    .close_btn{
        top: 29vh;
    }
    .purchase_btn{
        margin-right: 2em;
    }
    .product_info {
        margin-right: 1em;
        font-size: 4.5vw;
    }
    .main_collection_container_sm {
        padding: 2em;
    }
    .main_collection_container h2{
        font-size: 4.5vw;
    }
}